 # files not needed by every user

/Saves/*
Saves/*
./Saves/*
.directory
dmpower
*.stackdump
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
thefungus.dat
wof.dat
CoS.dat
